
<form [formGroup]="updateUserForm" class="normal-form"  >
    <mat-grid-list cols="2" rowHeight="195px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="username"  matInput placeholder="Nom d'utilisateur" >
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="nom"  matInput placeholder="Nom" >
                </mat-form-field>
        
                <mat-form-field>
                    <input formControlName="prenom"  matInput placeholder="Prénom" >
                </mat-form-field>
                


                
                    
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <div class="controles-container">
                
  

            <mat-form-field>
                <input formControlName="telephone"  matInput placeholder="Téléphone" >
                <mat-error *ngIf="checkError('telephone', 'minLength')">Minimum est de 8 chiffres </mat-error>
                <mat-error *ngIf="checkError('telephone', 'pattern')">N'accepte pas les lettres </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="password" matInput placeholder="Mot de Passe">
            </mat-form-field>

            <mat-form-field>
                <input formControlName="confirmPassword" type="password" matInput placeholder="Confirmation du mot de passe" >
            </mat-form-field>
                    
    </div>
</mat-grid-tile>
<mat-grid-tile>
    <div class="controles-container">



        <mat-form-field>
            <input formControlName="email"   matInput placeholder="Email">
            <mat-error *ngIf="checkError('email', 'email')">doit avoir le format(aaaa@bbb.cc) </mat-error>
        </mat-form-field>
        

        <mat-form-field>
            <input formControlName="adresse"  matInput placeholder="Adresse" >
        </mat-form-field>
        

        <mat-form-field>
            <mat-label>Professions</mat-label>
            <mat-select formControlName="profession"  multiple>
                <ng-container *ngFor="let prof of professions">
              <mat-option  [value]="prof">{{prof.titreProfession}}</mat-option>
            </ng-container>
            </mat-select>
          
        
    </mat-form-field>
    </div>
</mat-grid-tile>
<mat-grid-tile>
    <div class="controles-container" *ngIf="authService.isSuperAdmin">
        <mat-form-field >
            <mat-select formControlName="role"  matInput placeholder="Role" multiple>
                <ng-container *ngFor="let rol of roles">
                <mat-option [value]="rol.role">
                    {{rol.role}}
                </mat-option>
            </ng-container>
                
            </mat-select>
        </mat-form-field>
    </div>

    
</mat-grid-tile>
</mat-grid-list>
<div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="updateUserForm.invalid" (click)="userUpdate()">Submit</button>
    <button mat-raised-button  type="submit" (click)="onFermer()">Annuler</button>
</div>
</form>

