
.li{
   
    float: right;;
}

.spacer{
    align-self: right;
    flex: 1 1 auto;
    float: right;
    display: flex;
}

.notification-wrapper {
  position: relative;
  padding: 8px 15px;
  float: right;
  border-radius: 5px;
}

.notification-wrapper .notification-btn {
  color: #ffffff;
  cursor: pointer;
}

.notification-wrapper .notification-btn:hover {
  color: royalblue;
  padding: 1px;
  background-color:black;
  border-radius: 500px;
}

.notification-wrapper .notification-content {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 350px;
  height: max-content;
  background-color: white;
  z-index: 300;
}

.notification-wrapper .notification-header {
  padding: 10px;
  color: #ffffff;
  background-color: blue;
}

.notification-wrapper .notification-header .label {
  display: inline-block;
  width: 90%;
  text-align: center;
  font-weight: 500;
}

i{
  margin-right: 10px;
}

a.active{
  background: white;
}
a{
  text-decoration: whitesmoke;
}