<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AlfaConseil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="tableaudebord">Tableau de Bord</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#">Accueil</a>
      </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
    <form >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="this.authService.isLoggedIn">
        <!--  Mettre en place les notifications -->
        <div class="notification-wrapper" >
          <!-- You can put an icon from Material Design icon or Fontawesome -->
          <div class="notification-btn"  (click)="openNotification(false)">
            <span class="mdi mdi-bell">notif</span>
          </div>
          <div  class="notification-content" [hidden]="!openNotif">
            <div class="notification-header">
              <span class="mdi mdi-settings"></span>
              <span class="label">Notifications</span>
            </div>
            <mat-list *ngIf="listofNewAffectation">
              <div class="card-body" *ngFor="let affect of listofNewAffectation">
                <a [routerLink]="['/task/',affect.tache.numTache]" routerLinkActive="active">
                  Affectation à {{affect.tache.nomTache}} : <small>{{affect.affectation.dateAffectation | date: 'd MMMM y, HH:mm:' : '' : 'fr-FR'}}</small>
                </a>
              </div>
            </mat-list>
          </div>
          
        </div>
        <!-- Fin de la gestion des notifications-->
        
      </li>
      
      <li class="nav-item">
        <a *ngIf="!this.authService.isLoggedIn" class="nav-link"  routerLinkActive="active" routerLink="/seConnecter">Login</a>
        <button *ngIf="this.authService.isLoggedIn" class="nav-link" (click)="logout()">Logout</button>
      </li>
      
    </ul>
  </div>
  </div>
</nav>
<router-outlet></router-outlet>

<!--<mat-toolbar color="primary">
    <span>AlphaConseil</span>
   
        <a mat-button>Tableau de Bord</a>
        <a mat-button>Projet</a>
        <a mat-button>Tout</a>
        <a mat-button routerLink= "utilisateur" >Utilisateurs</a>
        <a mat-button></a>
   
    <div class="spacer"></div>
        <div>
        <a mat-button >Home</a>
        <a mat-button>Rechercher</a>
        <a mat-button>Login</a>
    </div>
</mat-toolbar> -->
