<div class="lenav">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" routerLink="/">AlfaConseil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="tableaudebord">Tableau de Bord</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="projets">Projets</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="utilisateur">Utilisateurs</a>
      </li>
      
    </ul>
    <div class="form-inline my-2 my-lg-0">
    
    <ul class="navbar-nav mr-auto">

     <!-- <li class="nav-item" *ngIf="this.authService.isLoggedIn">
       <--- <div class="icon-wrapper">
          <a class="nav-link"   routerLink="['user/profil/','messageNonLus.idUser']" routerLinkActive="active" >
            <i class="far fa-comment fa-5x fa-border icon-blue"></i>
              <span class="badge">{{messageNonLus.msgNonLu}}</span>
          </a>
        </div>
      </li>-->
      
      <li class="nav-item" *ngIf="this.authService.isLoggedIn">
        <div class="container">
          <a class="nav-link amessage" ><i class="far fa-envelope fa-lg"></i>
            Messages
          </a>
            <span class="badge badge-notify" style="font-size:10px;">5</span>
            
          </div>
        
      <!--
        <--  Mettre en place les notifications >
        <div class="notification-wrapper" >
          <!- You can put an icon from Material Design icon or Fontawesome >
          <div class="notification-btn"  (click)="openNotification(false)">
            <span class="mdi mdi-bell">notif</span>
          </div>
          <div  class="notification-content" [hidden]="!openNotif">
            <div class="notification-header">
              <span class="mdi mdi-settings"></span>
              <span class="label">Notifications</span>
            </div>
            <mat-list *ngIf="listofNewAffectation">
              <div class="card-body" *ngFor="let affect of listofNewAffectation">
                <a [routerLink]="['/task/',affect.tache.numTache]" routerLinkActive="active">
                  Affectation à {{affect.tache.nomTache}} : <small>{{affect.affectation.dateAffectation | date: 'd MMMM y, HH:mm:' : '' : 'fr-FR'}}</small>
                </a>
              </div>
            </mat-list>
          </div>
          
        </div>
        <-- Fin de la gestion des notifications-->
        
      </li>
      
      <li class="nav-item">
        <a class="nav-link" *ngIf="!this.authService.isLoggedIn"   routerLinkActive="active" routerLink="/seConnecter">
          <i class="far fa-user "></i>
          Login
        </a>
        <button class="btn btn-primary" *ngIf="this.authService.isLoggedIn"  (click)="logout()">
          
          Logout
        </button>
      </li>
      
    </ul>
  </div>
  </div>
</nav>

<div *ngIf="loaderService.isLoading |async" class="loader-container">
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
</div>
<router-outlet></router-outlet>

