<div class="container">
    <h4>Details Utilisateur </h4>

    
<div class="container">
<div class="card" *ngIf="currentUser">
    <div class="card-body">
      <h5 class="card-title">Information de l'Utilisateur</h5>
      <br>
      <h6 class="card-subtitle mb-2 text-muted">Information Personnelle</h6>
      <span>Nom de L'utilisateur :{{currentUser.nom}} </span><br><br>
      <span>Prenom: {{currentUser.prenom}}</span><br><br>
      <span>Email : {{currentUser.email}}</span><br><br>
      <span>Telephone: {{currentUser.telephone}}</span><br><br>
      <span>Adresse: {{currentUser.adresse}}</span><br><br>
      <h6 class="card-subtitle mb-2 text-muted">Information Personnelle</h6>
      <span>Telephone: {{currentUser.role}}</span><br><br>
      <span>Adresse: {{currentUser.adresse}}</span><br><br>
      <a href="#!" class="card-link">Card link</a>
      <a href="#!" class="card-link">Another link</a>
    </div>
  </div>
  </div>
  </div>