<div>
    <div class="container">
        <br>
        <div class="d-flex justify-content-center">
            <div class="card col-6">
                <div class="card-header bg-info">
                    <h3>Créer un compte </h3>
                   
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nom">Votre nom</label>
                            <input type="text" class="form-control" id="nom">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input style="margin-right: 5px;" type="text" class="form-control" id="prenom">
                        </div>
                        <div class="form-group">
                            <label for="nomuser">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="nomuser">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="tel">Téléphone</label>
                            <input type="tel" class="form-control" id="tel">
                        </div>
                        <div class="form-group">
                            
                            <label for="adresse">Adresse</label>
                            <input type="text" class="form-control" id="adresse">
                        </div>
                        <div class="form-group">
                            <label for="company">Entreprise</label>
                            <input type="text" class="form-control" id="company">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de password</label>
                            <input type="password" class="form-control"id="password" >
                        </div>
                        <div class="form-group">
                            <label for="cpassword">Comfirmer le mot passe</label>
                            <input type="password" class="form-control"id="cpassword" >
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Login" (click)="loginUser()" class="btn float-right login_btn btn-info">
                        </div>
                    </form>
                </div>
              
            </div>
        </div>
</div>