
.card{
    width: 25%;
}

h3{
    padding: 10px;;
}
li .borderless {
    border-top: 0 none;
    border-bottom: 0 none;
  }

.separe{
    padding: 1em;
}

.card{
    width: 25%;
}

.thebt{
    float: right;
}

