<div class="container">
<div >
<h3>Mes projets</h3>
<button class="btn btn-success thebt" (click)="onCreate()">Ajouter un projet</button>
</div>
<br>
<br>
<hr>
<div class="container">
    <div class="row" *ngFor="let projet of projets">
        <div class="col">
            <div class="card" class="card">
                <div class="card-body">
                <h5 class="card-title" >{{projet.nomProjet}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                <a href="#!" class="card-link">Card link</a>
                <a href="#!" class="card-link">Another link</a>
                <button (click)="onSelect(projet)">click</button>
                </div>
            </div>
            <br>     
        </div>
    </div>
</div>


<!--<div class="separe">
    <h3>Mes projets</h3>
    <button class="btn btn-success thebt">Ajouter un projet</button>
    </div>
    <br>
    <ul class="list-group">
        <li class="list-group-item border-top-0 border-bottom-0"  *ngFor="let projet of projets">
            <div class="card" class="card">
                <div class="card-body">
                <h5 class="card-title">{{projet.nomProjet}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Panel subtitle</h6>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                <a href="#!" class="card-link">Card link</a>
                <a href="#!" class="card-link">Another link</a>
                </div>
            </div>
                
        </li>
    </ul> -->





