<div class="container">

<div class="headline">
<h2>Mes projets</h2>
<p><button class="btn btn-success" (click)="onCreate()">Ajouter un projet</button></p>
</div>
<br>
<br>
<hr>
<div class="container">
    <div class="row" >
        <div class="col-3 card"  *ngFor="let projet of projets">
           
                <div class="card-body">
                    <div class="thebt">
                        <button mat-icon-button (click)="edit(projet)"><mat-icon>launch</mat-icon></button>
                        <button  mat-icon-button (click)="delete(projet.numProjet)"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                <div>
                <h5 class="card-title" >{{projet.nomProjet}}</h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Entreprise name ici</h6>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
                
                <button (click)="onSelect(projet)">Voir Detail</button>
                </div>
              
        </div>
    </div>
    <br>
</div>
<router-outlet></router-outlet>




