.headline h2, 
.headline p {
    display: inline-block;
    padding: 25px;

}

.headline p{
    
    float:right;
}
.card{
    width: 25%;
    margin-right: 20px;
    margin-bottom: 10px;
}

li .borderless {
    border-top: 0 none;
    border-bottom: 0 none;
  }

.separe{
    padding: 1em;
}



.thebt{
    float: right;
}

