<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-list>
            <a mat-list-item routerLink="montravail" routerLinkActive="active"><i class="fa fa-tasks" aria-hidden="true"></i>Mon Travail</a>
            
            
            <a mat-list-item routerLink="projet" routerLinkActive="active"><i class="far fa-folder-open"></i>Mes Projets</a>
            
            <a mat-list-item routerLink="activite" routerLinkActive="active"><i class="fas fa-bolt" style=" padding-right: 0 0 0 5px;"></i>Activité</a>
           
            <a mat-list-item routerLink="user/profil" routerLinkActive="active"><i class="far fa-envelope fa-lg"></i>Messages</a>
            <!--<a mat-list-item routerLink="#" routerLinkActive="active"><i class="far fa-comment-alt"></i>Commentaires non lus
                <span class="badge badge-notify" style="font-size:10px;"></span>
            </a>-->
            

        </mat-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container> 

