<mat-sidenav-container>
    <mat-sidenav opened mode="side">
        <mat-list>
            <a mat-list-item href="#">Mon Travail</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="projet/all">Mes Projets</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Activité</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Tableau de Bord</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Commentaires non lus</a>
            <mat-divider></mat-divider>
            <a mat-list-item href="#">Messages non lus</a>

        </mat-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  