mat-sidenav-container {
    height: 100%;
}


mat-sidenav{
    height: 100%;
    padding: 16px;
    width: 270px;
    background-color: #F5F5F5;
}

i{
    margin-right: 10px;
}

a.active{
    background: white;
}
