mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 300px;
}

mat-sidenav-content{
    background-color: white;
}

.fa-tasks{
    margin-right: 8px;
}

.borderDiv{
    margin-bottom: 20px;
    ul {
        margin-bottom: 15px;
        a{
          text-decoration: none;
          color: gray;
          padding: 0 10px 0 20px;
         
        } 
      li .list-inline-item{
         float: right;
         margin-bottom: 15px;     
         a{
          text-decoration: none;
          
       }
      }
  }
  }

.bton{
    float: right;
    button{
        margin: 5px;
    }
}
i{
    margin-right: 8px;
  }
  
  
  .list-group-item{
      margin-bottom: -6px;
      margin-top: -6px;  
  }
  
  
  .headline h5, 
   p {
      display: inline-block;
      padding: 25px;
  
  }
  
  .headline p{
      float:right;
  }

  a.active{
    border-bottom:6px solid;
    border-bottom-color: green;
  }
 