
<div class="container">
    <br>
    <span class="rounded-circle">{{firstLetterPrenom}}{{firstLetterNom}}</span>
    <div class="headline">
    <h5>Message</h5>
    
        <div>
            <form [formGroup]="messageForm" class="normal-form">
                
                <mat-form-field>
                    <input type="text" class="form-control" formControlName="destinataire" matInput placeholder="Envoyer à ???" >
                </mat-form-field>
                <textarea type="text" class="form-control" formControlName="messageContent" placeholder="Envoyer un message"></textarea>
                <button class="btn-success" type="submit" [disabled]="messageForm.invalid" (click)="onSendMessage()">Envoyer</button>
      
            </form>
        </div>
    </div>
    <br>
    <hr>
    <div class="container">
            <mat-list *ngIf="messages">
              <div mat-subheader> Messages</div>
                <mat-list-item style="height: auto;"   *ngFor="let msg of messages | paginate:config">
                
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <button class="btn-danger" (click)="deleteMessage(msg.idMessage)" ><mat-icon mat-list-icon>delete</mat-icon></button>
                <div mat-line style="white-space: normal;"><b>{{msg.editUser.username}}</b> : {{msg.dateEnvoie | date: 'd MMMM y, HH:mm:' : '' : 'fr-FR'}}</div>
                <br>
                <br>
                <div mat-line style="white-space: normal;"> {{msg.messageContent}}</div>
                
                <mat-divider></mat-divider>
            </mat-list-item>
            
          </mat-list>
        
        <pagination-controls previousLabel="précédent "
        nextLabel="suivant"
        responsive="true"
        (pageChange)="pageChanged = $event"></pagination-controls>
    </div>
    
</div>
