mat-sidenav-container{
    height: 100%;
    background-color: white;
}

mat-sidenav-content{
    background-color: white;
}
.rounded-circle{
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
}