<br>
<div class="container-fluid bordure">
   
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">Tout le Projet</a></li>
        <li class="list-inline-item">
            <a  href="#">Taches</a></li>
        <li class="list-inline-item">
            <a  href="#">Fichiers</a></li>
        <li class="list-inline-item">
            <a  href="#">Commentaires</a></li>
        <li class="list-inline-item">
            <a  href="#"> Riques</a></li>
        <li class="list-inline-item">
            <a  href="#">Fichiers </a></li>
        <li class="list-inline-item">
            <a  href="#">Utilisateurs</a></li>
    </ul>
</div>
<br>


