form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;
}

.controles-container > * {
    width: 100%;
}

textarea .textarea{
    width: 100%;
}

.button-row button{
    margin: 5px;
}

.matgp{
    mat-radio-button
    {
        margin: 5px;
        margin-right: 10px;
    }
   
}

.bton{
    float: right;
    button{
        margin: 5px;
    }
}