<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="container-flud">
        <br>
        <h6> <i class="fa fa-tasks" aria-hidden="true"></i>Liste des phases</h6>
        <br>
        <ul class="list-group" *ngFor="let phase of allphase">
            <li class="list-group-item  breadcrumb" style="border: none">
                <dl>{{phase.nomTache}}  <span class="badge badge-pill badge-light">{{phase.taches.length}}</span></dl>
            </li>
        </ul>
    </div>
    </mat-sidenav>
    <mat-sidenav-content> 
       <div class="container-flud headline">
           <div class="row"> 
            <div class="col-sm-4">
                <h5>Taches</h5>
            </div> 
          
         
            <div class="col-sm-8">
                <p><button class="btn btn-success btn-sm btnAjout" type="button" (click)="ajouterPhase()">Ajouter une phase</button>
                    <button  type="submit" class="btn btn-light btn-sm btnlight">Voir Gantt</button></p>
                    <br>
                    <br>
            </div>
           
            </div>
        </div>

    
 <!--- ------------------------------fin------------------------------------------------ -->
 
 <div id="accordion" >
    <div class="card" *ngFor="let phase of allphase; let i=index;">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link " 
                    data-toggle="collapse"
                    [attr.data-target]="'#collapse'+i"
                    aria-expanded="true"
                    aria-controls="collapseOne">
                {{ phase.nomTache }}
                <i aria-hidden="true" class="fa fa-angle-up ">&nbsp;</i>
                </button>
                <small class="badge badge-pill badge-info">{{phase.taches.length}} Taches</small>
            </h5>
        </div>
        <div [attr.id]="'collapse'+i" class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion">
          
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tache of phase.taches; let i = index">
                        
                        
                       <div *ngIf="tache != null; else vide">
                        <button class="matbtn" mat-icon-button [matMenuTriggerFor]="menu" >
                            <mat-icon>more_horiz</mat-icon>
                         </button>
                          <a  [routerLink]="['/task/', tache.numTache]">  {{tache.nomTache}} </a>
                         <button class="btn-sm" (click)="display[i] = !display[i]">edit</button>
                         <small *ngIf="compareDateDebut(tache.debutTache)==1 ">(Commence le {{tache.debutTache}})</small>
                         <small *ngIf="compareDateDebut(tache.debutTache)==0 ">En Cours</small>
                          
                       </div> 
                        <mat-menu #menu="matMenu">
                                <button mat-menu-item  (click)="display[i] = !display[i]"><span>modifier</span></button>
                                <button mat-menu-item class="ajoutPhase" (click)="deleteTask(tache.numTache)"><span>supprimer</span></button>
                                <button mat-menu-item class="ajoutPhase" (click)="affecterRessources(tache)" ><span>Ajout Ressources</span>
                                </button>
                        </mat-menu>
                        
                        <div [hidden]="!display[i]">
                        <app-edit-tache [idProjet]="idProjet" [idTache]="tache.numTache" [idPhase]="phase.numTache"></app-edit-tache>
                        </div>

                        <ng-template #vide>
                            vide tache
                        </ng-template>
                            
                    </li>
                    
                    <p ><button class="btn btn-success btn-sm btAjtache" typep="button" (click)="cacher[i] = !cacher[i]">Ajouter une tache</button>
                    <small class="sapantache">{{finTache(phase.taches)}} Terminé</small></p>
                    <div [hidden] = "!cacher[i]">
                        <app-ajout-tache-second [idProjet]="idProjet" [idPhase]="phase.numTache"></app-ajout-tache-second>
                    </div>   
                    
                </ul>
            </div>
        </div>
    </div>
</div>`


    </mat-sidenav-content>

</mat-sidenav-container>



 