<div>
<br>
<app-projet-liens [idProjet]="idProjet"></app-projet-liens>
</div>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="container-flud">
        <br>
        <h6> <i class="fa fa-tasks" aria-hidden="true"></i>Liste des phases</h6>
        <br>
        <ul class="list-group" *ngFor="let phase of allphase">
            <li class="list-group-item  breadcrumb " style="border: none">
                <dl class="bg-light">{{phase.nomTache | titlecase}}  <span class="badge badge-pill badge-light">{{phase.taches.length}}</span></dl>
            </li>
        </ul>
    </div>
    </mat-sidenav>
    <mat-sidenav-content> 
       <div class="container-flud headline">
           <div class="row"> 
            <div class="col-sm-4">
                <h5>Taches</h5>
            </div> 
          
         
            <div class="col-sm-8">
                <p><button class="btn btn-success btn-sm btnAjout" *ngIf="isChefProjet==true || isAdmin==true" type="button" (click)="ajouterPhase()">Ajouter une phase</button>

                    <button  type="submit" class="btn btn-light btn-sm btnlight" (click)="goToGanttProject()">Voir Gantt</button>
                    <button color="primary" class="matbtn" mat-icon-button [matMenuTriggerFor]="menu" >
                        <mat-icon>more_horiz</mat-icon>
                    </button> </p>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="exportDailyOrdersToPdf()"><span>Rapport des tâches</span></button>
                    </mat-menu>
                

                    <br>
                    <br>
            </div>
           
            </div>
        </div>

    
 <!--- ------------------------------fin------------------------------------------------ -->
 
 <div id="accordion" >
    <div class="card" *ngFor="let phase of allphase; let i=index;">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button color="primary"  *ngIf="isChefProjet == true" class="matbtn" mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_horiz</mat-icon>  </button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item ><span>Supprimer cette phase</span></button>
                <button mat-menu-item (click)="goToRapportTaches(phase.numTache)"><span>Rapport des tâches</span></button>
                </mat-menu>
                <button class="btn btn-link " 
                    data-toggle="collapse"
                    [attr.data-target]="'#collapse'+i"
                    aria-expanded="true"
                    aria-controls="collapseOne">
                {{ phase.nomTache | titlecase }}
                <i aria-hidden="true" class="fa fa-angle-up ">&nbsp;</i>
                </button>
                <span class="badge badge-pill badge-info">{{countLengthOfPhase(phase)}} Taches</span>
            </h5>
        </div>
        <div [attr.id]="'collapse'+i" class="collapse"
            aria-labelledby="headingOne"
            data-parent="#accordion">
          
            <div class="card-body" *ngIf ="mesTaches">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let tache of phase.taches; let i = index">
                        
                        
                       <div *ngIf="tache != null && tache.type != 'Jalon' && tache.tauxAvancement !=100; else vide">
                        <button class="matbtn" mat-icon-button *ngIf="isCreateur(tache) == true || isSuperAdmin == true || isChefProjet == true" [matMenuTriggerFor]="menu" >
                            <mat-icon>more_horiz</mat-icon>
                         </button>
                          <a  [routerLink]="['/task/', tache.numTache]">  {{tache.nomTache}} </a>
                         <button class="btn editbtn" (click)="display[i] = !display[i]"><i class="icon-edit"></i></button>
                         <small *ngIf="compareDateDebut(tache.debutTache)==1 ">(Commence le {{tache.debutTache}})</small>
                         <small *ngIf="compareDateDebut(tache.debutTache)==0 && isLate(tache.finTache)==false && tache.tauxAvancement != 100">En Cours</small>

                         <small *ngIf="isLate(tache.finTache)==true && 100 > tache.tauxAvancement && compareDateDebut(tache.debutTache)!=1">En retard</small>

                          
                       </div> 
                        <mat-menu  #menu="matMenu">
                                <button mat-menu-item  (click)="display[i] = !display[i]"><span>modifier</span></button>
                                <button mat-menu-item class="ajoutPhase"  (click)="deleteTask(tache.numTache)"><span>supprimer</span></button>
                                <button mat-menu-item class="ajoutPhase"  (click)="affecterRessources(tache)" ><span>Ajout Ressources</span>
                                </button>
                        </mat-menu>
                        
                        <div [hidden]="!display[i]">
                        <app-edit-tache [idProjet]="idProjet" [idTache]="tache.numTache" [idPhase]="phase.numTache"></app-edit-tache>
                        </div>

                        <ng-template #vide>
                            
                        </ng-template>
                            
                    </li>
                    
                    <p ><button class="btn btn-success btn-sm btAjtache" typep="button" (click)="cacher[i] = !cacher[i]">Ajouter une tache</button>
                    <small class="sapantache">{{finTache(phase.taches)}} Terminé</small></p>
                    <div [hidden] = "!cacher[i]">
                        <app-ajout-tache-second [idProjet]="idProjet" [idPhase]="phase.numTache" ()></app-ajout-tache-second>
                    </div>   
                    
                </ul>
            </div>
        </div>
    </div>
</div>


    </mat-sidenav-content>

</mat-sidenav-container>
<router-outlet></router-outlet>


 