
<div class="container">
    <form [formGroup]="AjoutTacheSecndForm" class="normal-form">
      
            <mat-tab-group>
               
                <mat-tab label="Nom Tache">
                    <div class="container"> 
                    <mat-form-field>
                        <input formControlName="nomTache" [(ngModel)]="tache.nomTache" matInput placeholder="Nom de la tache" required>
                        <mat-error *ngIf="checkError('nomTache', 'maxLength')">Ne doit pas déppasser 100 caractères !</mat-error>
                        <mat-error *ngIf="checkError('nomTache', 'required')">Le nom est obligatoire !</mat-error>
                        <mat-error *ngIf="checkError('nomTache', 'pattern')">N'accepte pas les caractère spéciaux !</mat-error>
                    </mat-form-field>
                    </div>
                </mat-tab>
                    
                <mat-tab label="description">
                    <mat-form-field>
                        <textarea formControlName="description" [(ngModel)]="tache.description" matInput placeholder="description"></textarea>
                    </mat-form-field>
                </mat-tab>
    
                <mat-tab label="Durée">
                    <mat-form-field>
                        <input formControlName="duree"  [(ngModel)]="tache.duree" matInput type="number" placeholder="Durée de la tache en jour" required>
                    </mat-form-field>
                </mat-tab>
      
                <mat-tab label="chargeTache">
                    <mat-form-field>
                        <input formControlName="chargeTache"  [(ngModel)]="tache.chargeTache" matInput type="number" placeholder="Charge de la tache en heure">
                    </mat-form-field>
                </mat-tab>
                <mat-tab label="priorité">
                    <br>
                    <label id="matgp"> Niveau de priorité: </label>
                    <mat-radio-group class="matgp" aria-labelledby="matgp" formControlName="niveauPriorite" [(ngModel)]="tache.niveauPriorite"> 
                        <mat-radio-button value="Faible">Faible</mat-radio-button>
                        <mat-radio-button value="Moyen">Moyen</mat-radio-button>
                        <mat-radio-button value="Fort">Fort</mat-radio-button>
                    </mat-radio-group>
                </mat-tab>
                <mat-tab label="Avancement"> 
                    <br>
                    <label id="matgp">Avancement de la tache:</label>
                    <mat-slider 
                        aria-labelledby="matgp"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="100"
                        min="1"
                        max="100" formControlName="tauxAvancement" [(ngModel)]="tache.tauxAvancement"></mat-slider>   
                    </mat-tab>    
                                   
                <mat-tab label="Prédecesseurs">         
                    <mat-form-field>
                    <mat-label>prédecesseurs</mat-label>
                        <mat-select formControlName="tachePrecedente" [(ngModel)]="tache.tachePrecedente" multiple>
                            <ng-container *ngFor="let tache of listTache">
                              <mat-option  [value]="tache">{{tache.nomTache}}</mat-option>
                            </ng-container> 
                            </mat-select>  
                        </mat-form-field>
                    </mat-tab>
    
                <mat-tab label="Dates"> 
                    <mat-form-field>
                        <input formControlName="debutTache"  [(ngModel)]="tache.debutTache" matInput [matDatepicker]="picker1" placeholder="Date de debut de la tache" required>
                            <mat-datepicker-toggle  [for]="picker1" matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #picker1 ></mat-datepicker>
                            <mat-error *ngIf="checkError('debutTache', 'required')">La date du debut est obligatoire</mat-error>
                            <mat-error *ngIf="checkError('debutTache', 'dateInvalid')">Le format de la date est: dd/mm/yyyy</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input formControlName="finTache"  [(ngModel)]="tache.finTache" matInput [matDatepicker]="picker2" placeholder="Date de fin de la tache" required>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 ></mat-datepicker>
                            <mat-error *ngIf="checkError('finTache', 'required')">La date du debut est obligatoire</mat-error>
                            <mat-error *ngIf="checkError('finTache', 'dateInvalid')">Le format de la date est: dd/mm/yyyy</mat-error>
                        </mat-form-field>
                    </mat-tab>
                </mat-tab-group>
            <button class="btn btn-success btn-sm button-row" type="submit" (click)="Ajouter()"
            [disabled]="AjoutTacheSecndForm.invalid">Sauvegarder</button>
    </form>  
    </div>
    <br>