<div class="container">
    <div class="row">
    <span>Ajout d'Utilisateurs</span>
</div>
</div>

    <form [formGroup]="addUserForm" class="normal-form"  >
        <mat-grid-list cols="2" rowHeight="195px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="username"  [(ngModel)]="user.username" matInput placeholder="Nom d'utilisateur">
                        <mat-error *ngIf="checkError('username', 'maxLength')">Nombre de caractères depassé</mat-error>
                    
                    </mat-form-field>

            
                    <mat-form-field>
                        <input formControlName="prenom"  [(ngModel)]="user.prenom" matInput placeholder="Prenom" pattern="[a-zA-Z ]*">
                        <mat-error *ngIf="checkError('prenom', 'maxLength')">Nombre de caractères depassé</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input formControlName="nom"  [(ngModel)]="user.nom" matInput placeholder="Nom de Famille">
                        <mat-error *ngIf="checkError('nom', 'maxLength')">Nombre de caractères depassé</mat-error>
                    </mat-form-field>
                        
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                
                <mat-form-field>
                    <input formControlName="email" [(ngModel)]="user.email" matInput placeholder="Adresse mail">
                    <mat-error *ngIf="checkError('email', 'email')">doit avoir le format(aaaa@bbb.cc) </mat-error>
                </mat-form-field>

               
                <mat-form-field>
                    <input formControlName="password" [(ngModel)]="user.password" matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="confirmPassword" [(ngModel)]="user.confirmPassword" matInput placeholder="confirmPassword" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>


            
                
            
        </div>
    </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="telephone" [(ngModel)]="user.telephone" matInput placeholder="Telephone">
                    <mat-error *ngIf="checkError('telephone', 'minLength')">Minimum est de 8 chiffres</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="adresse" [(ngModel)]="user.adresse" matInput placeholder="Addresse">
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Professions</mat-label>
                    <mat-select formControlName="profession" [(ngModel)]="idProfession" multiple>
                        <ng-container *ngFor="let prof of professions">
                      <mat-option  [value]="prof">{{prof.titreProfession}}</mat-option>
                    </ng-container>
                    </mat-select>
                  
                
            </mat-form-field>
            </div>
        </mat-grid-tile>
      

    </mat-grid-list>
    <div class="button-row">
        <button mat-raised-button class="btn btn-success btn-sm" type="submit" [disabled]="addUserForm.invalid" (click)="addNewUser()">Ajouter</button>
        <button mat-raised-button  type="submit" (click)="onFermer()">Annuler</button>
    </div>
    </form>
    
