<div class="container">
    <div class="row">
    <span>Ajout d'Utilisateurs</span>
</div>
</div>

    <form [formGroup]="addUserForm" class="normal-form"  >
        <mat-grid-list cols="2" rowHeight="195px">
            <mat-grid-tile>
                <div class="controles-container">
                    <mat-form-field>
                        <input formControlName="username"  [(ngModel)]="user.nom" matInput placeholder="Nom">
                    </mat-form-field>

            
                    <mat-form-field>
                        <input formControlName="prenom"  [(ngModel)]="user.prenom" matInput placeholder="Prenom" pattern="[a-zA-Z ]*">
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input formControlName="email"  [(ngModel)]="user.email" matInput placeholder="Email">
                    </mat-form-field>
                        
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
            <div class="controles-container">
                    
                <mat-form-field>
                    <input formControlName="password" [(ngModel)]="user.password" type="password" matInput placeholder="Password">
                </mat-form-field>
                        
                <mat-form-field>
                    <input formControlName="adresse" [(ngModel)]="user.adresse" matInput placeholder="Addresse">
                </mat-form-field>
                
                <mat-form-field>
                    <input formControlName="telephone" [(ngModel)]="user.telephone" matInput placeholder="Telephone">
                </mat-form-field>
        </div>
    </mat-grid-tile>
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <mat-label>Professions</mat-label>
                    <mat-select formControlName="profession" [(ngModel)]="idProfession" multiple>
                        <ng-container *ngFor="let prof of professions">
                      <mat-option  [value]="prof">{{prof.titreProfession}}</mat-option>
                    </ng-container>
                    </mat-select>
                  
                
            </mat-form-field>
            </div>
        </mat-grid-tile>
      

    </mat-grid-list>
    <div class="button-row">
        <button mat-raised-button color="primary" type="submit" [disabled]="addUserForm.invalid" (click)="addNewUser()">Submit</button>
        <button mat-raised-button  type="submit" (click)="onFermer()">Annuler</button>
    </div>
    </form>
    
