<div class="eprojet">
    <br>
    <h5 *ngIf="projet">{{ projet.nomProjet }}</h5>
    <app-projet-liens [idProjet]="projetId"></app-projet-liens>
</div>
<br>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="container">
        <p *ngIf="projet"><strong>Desciption</strong><br>
           {{ projet.description }}</p>
        <p><i class='far fa-calendar-alt'></i><strong>Dattes</strong></p>
        <div *ngIf="projet" class="divdate">
             <span class="bg-light">Début: {{projet.debutProjet | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}</span><br>
             <span class="bg-light">Fin: {{projet.finProjet | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}</span>
        </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="headline">
        <h5>Vue d'ensemble</h5>
     
        <p *ngIf="chefProjet"><button class="btn btn-success btn-sm btnAjout" *ngIf="hasAccess" mat-button [matMenuTriggerFor]="menu" >
            <mat-icon class="maticon">add</mat-icon>Ajouter
        </button></p> 
        
        
        <app-tout-le-projet [projetId]="projetId"></app-tout-le-projet>
        </div>
       
        <mat-menu #menu="matMenu">
                <button mat-menu-item  class="ajoutPhase" (click)="onAjoutPhase()">Ajouter Phase</button>
                <button mat-menu-item class="ajoutPhase" (click)="onAjoutTahce()">Ajouter tache </button>
        </mat-menu>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
