mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 300px;
}

mat-sidenav-content{
    background-color: white;
}

i{
    margin-right: 4px;
}

ul {
     
    li .list-inline-item{
       float: right;
       margin:0 0 10px 0;  
        
    }
}

.headline h5, 
.headline p {
    display: inline-block;
    padding: 25px;

}

.headline h6{
    padding: 25px;
}

.headline p{
    
    float:right;
}

a{
    text-decoration: none;
    color: silver;
   
}

.bordure{
    border-bottom: 1px solid;
}

.border{
    border-radius:  10px;
    border: 10px 10px;
    
}