
<div class="container-fluid divclass">
    <br>
    <ul class="list-inline border-bottom">
        <li class="list-inline-item">
            <a  [routerLink]="['../../projet/', projectId]" routerLinkActive="active">Vue d'ensemble</a></li>
        
        <li class="list-inline-item">
            <a  [routerLink]="['../../Taches/', projectId]" routerLinkActive="active">Taches</a></li> 
        <li class="list-inline-item">
            <a  [routerLink]="['../../jalon/', projectId]" routerLinkActive="active">Jalons</a></li>
        <li class="list-inline-item">
            <a  [routerLink]="['../../commentaire/', projectId]" routerLinkActive="active">Commentaires</a></li>
            <li class="list-inline-item">
                <a  [routerLink]="['../../equipeprojet/', projectId]" routerLinkActive="active">Membres</a></li>
        
    </ul>
    </div>