.container{
    padding:25px;
}

.apx-chart{
    width: 30px;
    height: 30px;
}



.divChart{
    margin-right: 70px;
}

.seconddiv h6,
.seconddiv small
    {
        padding:0 0 0 100px;
        
    }

h6{
    margin-right: 20px;
    float: center;
}

i{
    margin: 4px;
}

.chart{
    margin-right: 10px;
}