<div class="container">
<hr>
 <!--<div *ngIf="infoTaches"  #pieChart style="width: 50vw; height: 50vh;" class="divChart"></div> -->
   <div style=" height: 30%;">
      <ejs-accumulationchart [title]='chartTitle' [legendSettings]='legend' [tooltip]='tooltipSettings' >
         <e-accumulation-series-collection>
            <e-accumulation-series type="Pie" [dataSource]='data' xName='name' yName='value' [dataLabel]='chartLabel' [palettes]='palette' innerRadius='40%'>

            </e-accumulation-series>
         </e-accumulation-series-collection>
      </ejs-accumulationchart>
   </div> 

</div>