<div class="container">
   
    <br>
    <div  *ngIf="projets != null; else vide">

    <div  *ngFor="let projet of projets">
        <div class="col-3 card">
                <div class="card-body">
                    <div class="thebt">
                        <button mat-icon-button *ngIf="isAdmin" (click)="edit(projet)"><mat-icon>launch</mat-icon></button>
                        <button  mat-icon-button *ngIf="isSuperAdmin" (click)="delete(projet.numProjet)"><mat-icon>delete_outline</mat-icon></button>
                    </div>
                <div>
                <h5 class="card-title" >{{projet.nomProjet}}</h5>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">{{entrepriseNom}}</h6>
                <mat-divider class="bg-info"></mat-divider>
                
                <small class="card-text ">
                    Débute: {{ projet.debutProjet | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}
                </small> <br>
                <small class="card-text">
                    Termine: {{ projet.finProjet | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}
                </small>
                <mat-divider class="bg-info"></mat-divider>
                <button class="btn btn-light btn-sm btnproject" type="button" (click)="onSelect(projet)">Voir Detail</button>
                </div>
            </div>
            
        </div>
  
    </div>
    <ng-template #vide>
        <div>
            <h3>Pas de projets terminés ! </h3>

         </div>
    </ng-template>
    
</div>