
<!--<div class="auth-wrapper">
    <form class="form-signin" [formGroup]="signinForm">
        <h3 class="h3 mb-3 font-weight-normal text-center">Please sign in</h3>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter user name" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-block btn-primary" (click)="loginUser()">Sign in</button>
    </form>
</div> -->



<div>
    <div class="container">
        <br><br>
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-header bg-info">
                    <h3>Connecter vous</h3>
                   
                </div>
                <div class="card-body">
                    <form [formGroup]="signinForm" >
                        <div class=" form-group">
                            <div class="input-group input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" formControlName="username" placeholder="nom d'utilisateur">
                            </div>
                            <div>
                            
                            <small class="error text-danger" *ngIf="username.invalid && username.touched">Nom d'utilisateur est invalide</small>
                            </div>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" formControlName="password" placeholder="password">
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Login" (click)="loginUser()" class="btn float-right login_btn btn-info">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Vous n'avez de compte?<a href="#">Céer un compte</a>
                    </div>
                    
                </div>
            </div>
        </div>
</div>