
   <div class="container-flud headline">
    <h5>Details Tache</h5>

    <p><button class="btn btn-light btn-sm btnAjout"  (click)="imprimerFacturePDF()">Imprimer Facture</button>
    <button class="btn btn-success btn-sm btnAjout"  (click)="ouvrirPDF()"  type="submit">Sauvegarder</button></p>
    <br>
    <br>
</div>


<div  id="htmlFacture">
  <div class="container">
<br><br>
<div class="row">
    <mat-toolbar>
        <span> Cout Totale de Tache : {{totalCoutRessource+totalDepense}} </span>
    </mat-toolbar>
</div>

<br><br>
<div>
    <table class="table" *ngIf="currentTache">
        <caption>RESSOURCES</caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Ressource</th>
                <th scope="col">Temps Prévue</th>
                <th scope="col">Temps Realisé</th>
                <th scope="col">Cout/Heure</th>
                <th scope="col">Montant à Payer</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let affect of affectations">
                  <th scope="row" >{{affect.ressources.nom}}</th>
                  <th scope="row" >{{affect.affectation.tempsPasser}}</th>  
                  <th scope="row" >{{affect.affectation.tempsEffectuer}}</th>  
                  <th scope="row" >{{affect.affectation.coutParHeure}}</th>               
                  <th scope="row" >{{affect.affectation.coutParHeure * affect.affectation.tempsEffectuer}}</th>  
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="4">Total</th>
                    <th scope="col" colspan="1"> {{totalCoutRessource}} </th>
                </tr>
            </tfoot>
          </table>
</div>

<br><br>
<div>
    <table class="table" *ngIf="depenses">
        <caption>Depenses</caption>
            <thead class="thead-dark">
              <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Cout</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dep of depenses">
                  <th scope="row" >{{dep.libelle}}</th>
                  <th scope="row" >{{dep.coutDepense}}</th>  
              </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col" colspan="1">Total</th>
                    <th scope="col" colspan="1"> {{totalDepense}} </th>
                </tr>
            </tfoot>
          </table>
</div>
<div class="container-flud headline">
 <p> date edition : 15/09/2020 </p>
</div>
</div>
