

<mat-toolbar>
    <span>Nouvelle Phase</span>
</mat-toolbar>
<br>

<form [formGroup]="addPhaseForm" class="normal-form">
    <mat-grid-list cols="2" rorHeight="300px">

        <div class="controles-container">
            <mat-form-field>
                <input formControlName="titrePhase" [(ngModel)]="phase.nomTache" matInput placeholder="Nom de la phase">
                <mat-error *ngIf="checkError('titrePhase', 'maxLength')">Ne doit pas déppasser 100 caractères !</mat-error>
                    <mat-error *ngIf="checkError('titrePhase', 'required')">Le nom est obligatoire !</mat-error>
                    <mat-error *ngIf="checkError('titrePhase', 'pattern')">N'accepte pas les caractère spéciaux !</mat-error>
                    <mat-error *ngIf="checkError('titrePhase', 'minLength')">Doit etre plus de 3 caractère !</mat-error>
            </mat-form-field>

            <mat-form-field>
                <textarea formControlName="description" [(ngModel)]="phase.description" matInput placeholder="Description"></textarea>
            </mat-form-field>

        </div>
    </mat-grid-list>
    <div class="bton">
        <button class="btn btn-success btn-sm" type="submit" (click)="ajoutPhase()">Ajouter</button>
        <button class="btn btn-light btn-sm" type="submit" (click)="onFermer()">Annuler</button>
    </div>
</form>


