<div class="container">
    <form [formGroup]="depenseForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="195px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="libelle" matInput placeholder="Libelle de la depense">
                    <mat-error></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <textarea formControlName="Description"  matInput placeholder="Description de la depense"></textarea>
                </mat-form-field>
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input type="number" formControlName="coutDepense" matInput placeholder="Le cout de la depense">
                    <mat-error></mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input formControlName="dateEnregistrement" matInput [matDatepicker]="picker1" placeholder="Date de l'enregistrement de la depense">
                    <mat-datepicker-toggle  [for]="picker1" matSuffix></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>
            </div>
        </mat-grid-tile>
        
    </mat-grid-list>
    <div >
        <button class="btn btn-success" type="submit" (click)="ajouterDepense()" [disabled]="depenseForm.invalid"> Ajouter</button>
        <button class="btn" type="submit" (click)="onFermer()" > Annuler</button>
    </div>
    </form>
</div>