<p>update-role works!</p>
<form [formGroup]="updateForm" class="mon-form">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="role" [(ngModel)]="role.role" matInput placeholder="Role">
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" (click)="updateRole()">Ajouter</button>
                    <button mat-raised-button  type="submit" (click)="Quitter()">Annuler</button>
                    
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>

</form>