<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div *ngIf="currentTache" class="desClass">
        <br>
        <span class="desc"><strong>Desciption</strong>
        </span> <br>
        <span>{{currentTache.description}}</span>
        </div>
        
        <div *ngIf="currentTache" class="desClass ">
             <span><strong>Dates</strong></span><br>
             <span>Début: {{currentTache.debutTache | date}}</span>
             <br>
             <span class="spandate">Fin: {{currentTache.finTache | date}}</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content> 
       <div class="container-flud headline" *ngIf="currentTache">
            <h5>{{currentTache.nomTache}} </h5><small class="small" *ngIf="isLate(currentTache.finTache)==true && 100 >= currentTache.tauxAvancement "> en retard de: <span class="badge badge-pill badge-danger" >{{retardTache}}jours</span> </small>

            <p><button class="btn btn-success btn-sm btnAjout"  type="submit">Ajouter commentaire</button></p>
            <br>
            <br>
        </div>

    <form [formGroup]="commentaireForm" class="normal-form">
        <mat-tab-group>
            <mat-tab label="Tout">
                <div class="container" >
                    <h4></h4><br>
                    <div class="container">
                        <div class="card" >
                            <div class="card-body" *ngIf="currentTache" >
                              <h5 class="card-title">Information sur la Tache</h5>
                              <br>
                              <h6 class="card-subtitle mb-2 text-muted">Information de Base</h6>
                              <mat-icon>edit</mat-icon> <b>Nom de La Tache </b> :{{currentTache.nomTache}}<br><br>
                              <mat-icon>calendar</mat-icon> <b>Attendu Au Plus Tard </b> :{{currentTache.debutTache | date}}<br><br>
                              <mat-icon>calendar</mat-icon> <b>Attendu Au Plus Tard </b> :{{currentTache.finTache | date}}<br><br>
                              <mat-icon>hour</mat-icon> <b>Duree de La Tache </b> :{{currentTache.duree}}<br><br>
                              <mat-icon>time</mat-icon> <b>Charge de La Tache </b> :{{currentTache.chargeTache}}(jours)<br><br>
                              <mat-icon>time</mat-icon> <b>Etat d' Avancement</b> : {{currentTache.tauxAvancement}} % <br><br>
                              <mat-icon>time</mat-icon> <b>Les Ressources Affectés  </b> :
                              <span *ngFor="let u of ressources">
                              <a  [routerLink]="['/utilisateur/details/', u.idUser]">  {{u.nom}}</a></span><br><br>
                              <a [routerLink]="['/depense/',currentTache.numTache]" class="card-link">Voir Depenses</a>
                              <a [routerLink]="['/tache/facture/',currentTache.numTache]" class="card-link">Voir Facture</a>
                            </div>
                          </div>
                          </div>
                
                  </div>
            </mat-tab>
            <mat-tab label="Commentaire">
                <div class="container">
                    <br>
                    <div class="card" >
                        <div class="card-body" *ngIf="currentTache" >
                          <h5 class="card-title">Commentaires à propos de La Tache <span class="badge badge-pill badge-primary" *ngIf="tacheComments">{{tacheComments.length}}</span></h5>
                          <br>
                          <h6 class="card-subtitle mb-2 text-muted" *ngFor="let com of tacheComments">
                            <b>{{com.user.nom}} ::=> </b> <span>{{com.comment}}  ( {{com.dateComment}} )</span>
                          </h6>
                            <div>

                               
                                    <div formArrayName="commentaire">
                                        <h6>AJouter des commentaire</h6>
                                        <div class="form-group" *ngFor="let commentControl of getCommentaires().controls; let i=index">
                                            <textarea type="text" class="form-control" [formControlName]="i"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-sm commentBtn" (click)="addComment()">
                                            Ajouter un commentaire
                                        </button>
                                    </div>
                                    <button class="btn btn-success btn-sm" type="submit" (click)="ajoutCommentaires()">Sauvegarder</button>
                               
                            </div>
                          
                        </div>
                      </div>
                      </div>
            </mat-tab>
            <mat-tab label="Fichier">
                <br>
                <div class="card" >
                    <div class="card-body">
                     
                     <h6  class="card-title">Vous pouvez ajouter des fichiers à cette tache</h6>
                     <div class="form-control"> 
                     
                     <input type="file" class="form-group" (change)="onSelectFile($event)">
                     </div>
                     <button class="btn btn-success btn-sm" type="submit" (click)="fileSubmission()">Ajouter
                     </button>

                     <ul *ngIf="currentTache"
                        class="list-group">
                        <li class="list-group-item" *ngFor="let file of currentTache.fichiers">
                             {{ file.nomFichier }} 
                            <button type="button" (click)="fileDownlod(file.numFichier)"
                             class="btn btn-light btn-sm">Voir Fichier</button>
                        </li>
                    </ul>
                   

                    </div>
                    <div class="col-sm-8">
                    <div class="form-control"> 
                        <input type="file" class="form-group" (change)="onSelectFile($event)">
                        </div>
                        <p><button class="btn btn-success btn-sm btAjtache" type="submit" (click)="fileSubmission()">Ajouter
                        </button> </p>
                    </div> 
                </div>    
            </mat-tab>

            <!-- Voir les Affectations de la tache courante -->
            <mat-tab label="Affectations">
                <br>
                <div class="card" >
                    <div class="card-body">
                    
                    <div *ngIf="currentTache">
                        <app-affectation-tache [idTache]="currentTache.numTache" ></app-affectation-tache>
                    </div>
                    </div>
                </div>    
            </mat-tab>
          </mat-tab-group>
     </form>
     </mat-sidenav-content>
 </mat-sidenav-container>