<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div *ngIf="currentTache" class="desClass">
        <br>
        <span class="desc"><strong>Desciption</strong>
        </span> <br>
        <span>{{currentTache.description}}</span>
        </div>
        
        <div *ngIf="currentTache" class="desClass ">
             <span><strong>Dates</strong></span><br>
             <span>Début: {{currentTache.debutTache | date: 'EEEE d MMMM, y' : '' : 'fr-FR'}}</span>
             <br>
             <span class="spandate">Fin: {{currentTache.finTache | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}</span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content> 
       <div class="container-flud headline" *ngIf="currentTache">
            <h5>{{currentTache.nomTache}} </h5><small class="small" *ngIf="isLate(currentTache.finTache)==true && currentTache.tauxAvancement != 100"> en retard de: <span class="badge badge-pill badge-danger" >{{retardTache}}jours</span> </small>

            <br>
            <br>
        </div>

    <form [formGroup]="commentaireForm" class="normal-form">
        <mat-tab-group>
            <mat-tab label="Tout">
                <div class="container" >
                    <h4></h4><br>
                    <div class="container">
                        <div class="card" >
                            <div class="card-body" *ngIf="currentTache" >
                              <h5 class="card-title">Information sur la Tache</h5>
                              <br>
                              <h6 class="card-subtitle mb-2 text-muted">Information de Base</h6>
                              <mat-icon>edit</mat-icon> <b>Nom de La Tache </b> :{{currentTache.nomTache}}<br><br>
                              <mat-icon>calendar</mat-icon> <b>Debute le : </b> :{{currentTache.debutTache | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}<br><br>
                              <mat-icon>calendar</mat-icon> <b>Attendu Au Plus Tard </b> :{{currentTache.finTache | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}<br><br>
                              <mat-icon>hour</mat-icon> <b>Duree de La Tache </b> :{{currentTache.duree}} jours<br><br>
                              <mat-icon>time</mat-icon> <b>Charge de La Tache </b> :{{currentTache.chargeTache}} heures<br><br>
                              <mat-icon>time</mat-icon> <b>Etat d' Avancement</b> : {{currentTache.tauxAvancement}} % <br><br>
                              <mat-icon>time</mat-icon> <b>Les Ressources Affectés  </b> :
                              <span *ngFor="let u of ressources">
                              <a  [routerLink]="['/utilisateur/details/', u.idUser]">  {{u.nom}}</a></span><br><br>
                              <!--<a [routerLink]="['/depense/',currentTache.numTache]" class="card-link">Voir Depenses</a>-->
                              <a [routerLink]="['/tache/facture/',currentTache.numTache]" class="card-link">Voir Facture</a>
                            </div>
                          </div>
                          </div>
                
                  </div>
            </mat-tab>

               <!-- Voir les Affectations de la tache courante -->
            <mat-tab label="Affectations">
                <br>
                <div class="card" >
                    <div class="card-body">
                    
                    <div *ngIf="currentTache">
                        <app-affectation-tache [idTache]="currentTache.numTache" ></app-affectation-tache>
                    </div>
                    </div>
                </div>    
            </mat-tab>


            <mat-tab label="Commentaire">
                <div class="container">
                    <br>
                               
                    <div >
                        <h6>Commenter <mat-icon>edit</mat-icon></h6>
                        <div>
                            <textarea type="text" class="form-control" formControlName="commentaire" placeholder="Ajouter un commentaire sur la tache" ></textarea>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" type="submit" (click)="ajoutCommentaires()">Sauvegarder</button>
                    </div>
                           
                          
                    
                </div>
                <br>
                <br>
                    <div class="container">
                        <div class="card" style="width:auto">
                            <div class="card-header" *ngIf="tacheToComment">
                              Commentaires sur la tache : <b>{{tacheToComment.nomTache}}</b>
                            </div>
                            <mat-list *ngIf="tacheComments">
                              <div mat-subheader></div>
                              <mat-list-item style="height: auto;"   *ngFor="let com of tacheComments | paginate:config">
                
                                <mat-icon mat-list-icon>account_circle</mat-icon>
                                <button class="btn-danger" (click)="deleteComment(com.idComment)" ><mat-icon mat-list-icon>delete</mat-icon></button>
                                <div mat-line style="white-space: normal;"><b>{{com.user.username}}</b> : {{com.dateComment | date: 'd MMMM y, HH:mm:' : '' : 'fr-FR'}}</div>
                                <br>
                                <br>
                                <div mat-line style="white-space: normal;"> {{com.comment}}</div>
                                <mat-divider></mat-divider>
                              </mat-list-item>
                              
                            </mat-list>
                          </div>
                        <pagination-controls previousLabel="précédent "
                        nextLabel="suivant"
                        responsive="true"
                        (pageChange)="pageChanged = $event"></pagination-controls>
                    </div>
            </mat-tab>
            <mat-tab label="Fichier">
                <br>
                <div class="card" >
                    <div class="card-body">
                     
                     <h6  class="card-title">Vous pouvez ajouter des fichiers à cette tache</h6>
                     <div class="form-control"> 
                     
                     <input type="file" class="form-group" (change)="onSelectFile($event)">
                     </div>
                     <button class="btn btn-success btn-sm" type="submit" (click)="fileSubmission()">Ajouter
                     </button>

                     <ul *ngIf="currentTache"
                        class="list-group">
                        <li class="list-group-item" *ngFor="let file of currentTache.fichiers">
                             {{ file.nomFichier }} 
                            <button type="button" (click)="fileDownlod(file.numFichier)"
                             class="btn btn-light btn-sm">Voir Fichier</button>
                        </li>
                    </ul>
                   

                    </div>
        
                </div>    
            </mat-tab>
            <!-- Space section pour les depense de la tache -->
            <mat-tab label="Dépenses">
                <br>
                <div class="card" >
                    <div class="card-body">
                    
                    <div *ngIf="currentTache">
                        <app-depenses [idTache]="currentTache.numTache" ></app-depenses>
                    </div>
                    </div>
                </div>    
            </mat-tab>

          </mat-tab-group>
     </form>
     </mat-sidenav-content>
 </mat-sidenav-container>