
<mat-sidenav-container>
    <mat-sidenav-content>
        <div class="container headline">
            <h3>Activité</h3>
            <hr>
            <br>
            <div  *ngFor="let projet of projets">
                <h5 class="p2 bg-light">{{projet.nomProjet | titlecase}}<small>({{entrepriseName}})</small></h5>
                <div *ngFor="let phase of projet.phases">
                    
                    <div class="tacheclass" *ngFor="let tache of phase.taches">
                        <p><i class="fas fa-circle"></i></p>
                        <p>{{tache.nomTache}}</p>
                        <p>(<small>Phase:</small><span style="margin:0 0 0 5px;">{{getPhaseDuneTache(tache.numTache)}}) </span></p>
                        <p style="margin:0 0 0 50px;">{{tache.lastUpdate | date: 'EEEE d MMMM y' : '' : 'fr-FR'}}</p>
                    </div>
                </div>
               
            </div>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>