mat-sidenav-container{
    height: 100%;
    background-color: white;
}

mat-sidenav-content{
    background-color: white;
}

.headline{
    padding: 25px;
}

.tacheclass p,
.tacheclass {
    margin:0 0 0 10px;
}
.tacheclass p{
    font-size: 15px;
    display: inline;
}

p i {
    font-size: 10px; 
    color: blue;
}

p .ptacheclass{
    margin:5px 0 0 50px; 
    
}

.p2 small{
    margin:0 0 0 5px;
}