<form [formGroup]="updateProfessionForm" class="mon-form">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="titreProfession"  matInput placeholder="profession">
                </mat-form-field>

                <div class="button-row">
                    <button mat-raised-button color="primary" type="submit" (click)="updateProfession()">Modifier</button>
                    <button mat-raised-button  type="submit" (click)="onFermer()">Annuler</button>
                    
                </div>

            </div>
        </mat-grid-tile>
    </mat-grid-list>

</form>