  table{
      width: 100px;
  }
  
  .headline h2, 
.headline p {
    display: inline-block;
    padding: 25px;

}

.headline p{
    
    float:right;
    
}
.hide{
    display: none;
}
/* mat table scss*/
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}