<div class="col-xs-12">
    <h1>
       Liste des utilisateurs
    </h1>
    </div>

    
        
          
       <button mat-raised-button color="primary" (click)="goToAddUser()"> Nouveau utilisateurs</button>
<mat-table [dataSource]="userDataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="username" >
    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
    </ng-container>

    

    <!-- Prenom -->
    <ng-container matColumnDef="prenom">
    <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
    </ng-container>

    <!--EMAIL -->
    <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="adresse">
        <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.adresse}} </mat-cell>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="telephone">
        <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role.role}} </mat-cell>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="profession">
        <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_horiz</mat-icon>
              </button>

              <mat-menu #menu="matMenu">

                <button mat-menu-item color="primary" (click)="goToUpdateUser(element)"> 
                    Modifier 
                </button>
               <button  mat-menu-item (click)="deleteUser(element.idUser)">
                    <span>Supprimer</span>
                </button> 
                <!-- Gantt Utilisateur -->
                <button  mat-menu-item (click)="goToGanttUser(element.idUser)">
                    <span>voir Gantt</span>
                </button> 

              </mat-menu>

          
         </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
