<br>
<div class="container-fluid strike">
    <h5>Liste des utilisateurs</h5>
 </div>  

<br>
<mat-sidenav-container  >
   
    <mat-sidenav mode="side" opened *ngIf="1==1">

           <!--<p><i class="fas fa-info-circle"></i><strong>Informations:</strong></p> --> 
         <br>
           <div class="container-fluid">
            <h6><i class="fas fa-info-circle"></i>Informations:</h6>
            
            <dl>Nombres d'utilisateurs dans votre entreprise : <span style="margin-left: 10px;" class="badge badge-pill badge-primary">{{nombreUsers}}</span></dl>
         </div>
    </mat-sidenav>
    <mat-sidenav-content> 
        <div class="container">
            <div class="search-div">
                <button *ngIf="this.authService.isSuperAdmin"  class="btn-success" mat-raised-button (click)="goToAddUser()" >
                    <mat-icon>add</mat-icon>Ajouter
                </button>
                    <mat-form-field class="search-form-field">
                        <input matInput [(ngModel)]="rechercheKey" placeholder="Rechercher" autocomplete="off" (keyup)="appliquerLeFiltre()">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="viderRecherche()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                
            </div>
            
            <div class="mat-elevation-z8">
            
            <mat-table [dataSource]="userDataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="icon" >
                    <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                    <mat-cell *matCellDef="let element"><mat-icon>account_circle</mat-icon> </mat-cell>
                    </ng-container>
                
                    
                <!-- Username Column -->
                <ng-container matColumnDef="username" >
                <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.nom}}</mat-cell>
                </ng-container>

                

                <!-- Prenom -->
                <ng-container matColumnDef="prenom">
                <mat-header-cell *matHeaderCellDef> Prenom </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
                </ng-container>

                <!--EMAIL -->
                <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="adresse">
                    <mat-header-cell *matHeaderCellDef> Adresse </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.adresse}} </mat-cell>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="telephone">
                    <mat-header-cell *matHeaderCellDef> Telephone </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
                </ng-container>

                    <!-- 
                <ng-container matColumnDef="role">
                    <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.role.role}} </mat-cell>
                </ng-container>
            Symbol Column 
                <ng-container matColumnDef="profession">
                    <mat-header-cell *matHeaderCellDef> Profession </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
                </ng-container>
            -->
                <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #menu="matMenu">
                                <!-- Gantt Utilisateur -->
                            <button class="btn float-right"  mat-menu-item (click)="goToUserDetails(element.idUser)">
                                <span>Details</span>
                            </button> 

                            <button class="btn float-right" mat-menu-item color="primary" (click)="goToUpdateUser(element)"> 
                               <span>Modifier</span>  
                            </button>
                        <button class="btn float-right" mat-menu-item (click)="deleteUser(element.idUser)">
                                <span>Supprimer</span>
                            </button> 
                            <!-- Gantt Utilisateur -->
                            <button  class="btn float-right" mat-menu-item (click)="goToGanttUser(element.idUser)">
                                <span>Planning des tâches</span>
                            </button> 

                        </mat-menu>

                    
                    </mat-cell>
                </ng-container>
                    <!--Footer de la table des depenses-->
                    <ng-container matColumnDef="recharge">
                        <mat-footer-cell *matFooterCellDef colspan="6">Recharge....</mat-footer-cell>
                    </ng-container>
                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">Pas de Données</mat-footer-cell>
                    </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['recharge']" [ngClass]="{'hide':userDataSource!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(userDataSource!=null && userDataSource.data.length==0)}"></mat-footer-row>
            </mat-table>
                <mat-paginator [pageSizeOptions]="[5,15,25,35]" [pageSize]="5"></mat-paginator>
            </div> 
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
    