.headline h5, 
.headline p {
    display: inline-block;
    padding: 25px;

}

.headline p{
    
    float:right;
}
.card{
    width: 25%;
    margin-right: 20px;
    margin-bottom: 10px;
}

li .borderless {
    border-top: 0 none;
    border-bottom: 0 none;
  }

.separe{
    padding: 1em;
}



.thebt{
    float: right;
}

.btnproject{
    margin: 10px;
}
.mat-list-item {
  height: auto;
}
mat-sidenav-container{
    height: 100%;
}

mat-sidenav, mat-sidenav-content{
    padding: 16px;
}

mat-sidenav{
    width: 300px;
}

mat-sidenav-content{
    background-color: white;
}
a.active{
    border-bottom:4 px solid;
    border-bottom-color: green;
  }

.borderDiv{
    margin-bottom: 20px;
    ul {
        margin-bottom: 15px;
        a{
          text-decoration: none;
          color: gray;
          padding: 0 10px 0 20px;
         
        } 
      li .list-inline-item{
         float: right;
         margin-bottom: 15px;     
         a{
          text-decoration: none;
          
       }
      }
  }
  }

.bton{
    float: right;
    button{
        margin: 5px;
    }
}
i{
    margin-right: 8px;
  }
  
  
  .list-group-item{
      margin-bottom: -6px;
      margin-top: -6px;  
  }
  
  
  .headline h5, 
   p {
      display: inline-block;
      padding: 25px;
  
  }
  
  .headline p{
      float:right;
  }

 
 

