
<div class="container-fluid border bg-info">
    <h3 class="display-3 text-white" style="margin-bottom: 15px;">Bienvenue!</h3>
   
</div>
<br>
<div class="container">
    <div class="row">
        <div class="column">
            <img  [src]="imageVar"  style="width:400px;height:400px;margin-right: 4px;">
        </div>
        
        <div class="column">
            
            <h4 class="display-4 text-secondary" style=" padding: 0 0 0 20px;"> Gérer vos projets avec <br>AlfaConseil PGP</h4><br>
            <h5 style=" padding: 0 0 0 80px;"><mat-icon class="matclacss">check_circle</mat-icon>Gestion de projets collaboratifs</h5><br>
            <h5  style=" padding: 0 0 0 80px;"><mat-icon class="matclacss">check_circle</mat-icon>Gestion de plusieurs projets</h5 ><br>
            <h5  style="padding: 0 0 0 80px;"><mat-icon class="matclacss">check_circle</mat-icon>Simple d’utilisation</h5><br>
            <p style="padding: 0 0 0 100px;"><button *ngIf="this.authService.isLoggedIn"  type="button" class="btn btn-primary btn-lg" (click)="gotORegesitrer()">Essayer Maintenant</button></p>
        </div> 
    </div>   
</div>

<app-footer></app-footer>