
<div class="container-fluid border bg-info">
    <h3 class="display-3 text-white" style="margin-bottom: 15px;">Bienvenue!</h3>
    <h4 class="text-white">Gérer vos projets avec AlfaConseil PGP</h4>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="column">
            <img  [src]="imageVar"  style="width:400px;height:400px;margin-right: 4px;">
        </div>
        
        <div class="column">
             <p  style="display:inline">AlfaConseil PGP</p><br>
            <p style="display:inline">Gestion de projets collaboratifs</p><br>
            <h4>Gestion de plusieurs projets</h4>
            <h4> Simple d’utilisation</h4>
        </div> 
    </div>   
</div>

<app-footer></app-footer>